<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <h1>buscar autos por marca</h1>
    
      <form action="/mis-autos/buscar" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="buscar">
      </form>

      {% for autos in lista_autos %}
      <ul>
          <li>  Marca: {{autos.marca}} , Modelo: {{autos.modelo}} , Año: {{autos.año}} </li>
      </ul>
      {% endfor %}

  </body>
  </html>